body{
    background-color: linen;
    
    
}
.title{
    font-family: 'Great Vibes', cursive;
    font-size:  70px;
    text-align: center;
    margin-top: 7vh;
    
}
.subtitle{
    font-family: 'Raleway', sans-serif;
    font-size:  15px;
    font-weight: 600;
}
.card{
    display: inline-flex;
    align-content: center;
    margin-left: 30px;
    margin-right: 12px;
    margin-top: 4vh;
}